Source: nitrux-qmlgreet-settings
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: http://nx-desktop.org


Package: nitrux-qmlgreet-settings
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, greetd-qmlgreet
Replaces: greetd-qtgreet-settings
Description: Defaults settings for QMLGreet.
